[submodule "CascadingFailure"]
	path = CascadingFailure
	url = git@gh-toohuman:T-BPhase/CascadingFailure
[submodule "sotw"]
	path = sotw
	url = git@gh-toohuman:T-BPhase/sotw-ddm
[submodule "networkx"]
	path = networkx
	url = git@github.com:networkx/networkx.git
